{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block body %}
<div class="card">

  </div>
  

<p id="days" class="countValue"></p>
<p id="hours" class="countValue"></p>
<p id="minutes" class="countValue"></p>
<p id="seconds" class="countValue"></p>
{% endblock %}
