{% extends 'base.html.twig' %}

{% block title %}Hello UtilisateursController!{% endblock %}

{% block body %}
<h3  style="margin-top: 50px; margin-left: 40vw; "> bonjour cher  {{app.user.username}}</h3>
  <div class="test">
  </div>
{% endblock %}
