{% extends 'base.html.twig' %}


{% block title %} cadeaux{% endblock %}

{% block body %}
<h1 style="margin-left: 30vw;  margin-top: 50px; color: green;"> voici le details des cadeaux </h1>
  



  <div id="jouet" style=" margin-left: 10vw; color: white;    margin-top: 25vh; ">

    {% for cadeaux in tata %}
    
      <h3 style="text-align: center; width: 20%; height: 25vh; border-radius: 12px;font-size: 0.9em; background: blue;">{{cadeaux.description}}</h3> 
    
    {% endfor %}

   </div>
   

  


    
{% endblock %}