{% extends 'base.html.twig' %}

{% block title %} cadeaux{% endblock %}

{% block body %}
<h1 style="margin-left: 30vw;  margin-top: 50px; color: green;  "> salle anchanté des cadeaux magique !!</h1>
   <div style="margin-top: 25vh;">

    {% for cadeaux in tata %}
    <div id="jouet" style=" color: white; margin-left: 10vw;  margin-top: 10px; ">
      <h3 style=" text-align: center; width: 20%; height: 25vh;   border-radius: 12px;font-size: 0.9em; background: blue;">{{ cadeaux.name}}</h3> 
     </div>
{% endfor %}
   </div>

    
{% endblock %}
